# Git
.git
.gitignore

# Python
venv/
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
pip-log.txt
pip-delete-this-directory.txt
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.log
.pytest_cache

# Node
node_modules/
dist/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.npm
.eslintcache

# Docker
docker-compose.yml
Dockerfile
.dockerignore

# IDES
.vscode/
.idea/
.DS_Store
